{% extends "layout.html" %}
{% block content %}
<h1>SLM cost estimation @KITECH</h1>
<form action="{{ url_for('cost') }}" method="post">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Customer</label>
    <div class="col-sm-5">
      <input name="customer" class="form-control" placeholder="Please write your name">
    </div>
  </div>
  <div class="form-group row align-items-center">
    <label  class="col-sm-2 col-form-label">Material Type</label>
    <div class="col-auto my-1">
      <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
      <select name="material_type" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
        <option selected>Material type...</option>
        <option value="inconel">Inconel</option>
        <option value="maraging_steel">Maraging steel</option>
        <option value="ss316l">SS316L</option>
        <option value="ti_grade2">Ti Grade 2</option>
        <option value="ti64">Ti6Al4V</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Overall Build Time</label>
    <div class="col-sm-5">
      <input name="build_time" type="number" class="form-control" placeholder="">
    </div>
  </div>

  {# Process parameter based#}
  <div class="form-group row">
    <div class="col">
      <label class="row-sm-2 col-form-label">Hatch distance</label>
      <div class="row-sm-10">
        <input name="hatch_distance" type="number" class="form-control"  placeholder="in microns">
      </div>
      <label  class="row-sm-2 col-form-label">Number of layers</label>
      <div class="row-sm-10">
        <input name="num_of_layers" type="number" class="form-control"  placeholder=" ">
      </div>
      <label  class="row-sm-2 col-form-label">Scan speed</label>
      <div class="row-sm-10">
        <input name="scan_speed" type="number" class="form-control"  placeholder="mm/sec">
      </div>
      <fieldset class="form-group">
        <legend class="col-form-label col-sm-7.5 pt-0">Layer thickness</legend>
        <div class="row-sm-10">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="layer_thickness" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">
              30um
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="layer_thickness" id="gridRadios2" value="option2">
            <label class="form-check-label" for="gridRadios2">
              50um
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    {# Part design feature based#}
    <div class="col">
      <label  class="row-sm-2 col-form-label">Part volume</label>
      <div class="row-sm-10">
        <input name="part_volume" type="number" class="form-control"  placeholder="mm3">
      </div>
      <label  class="row-sm-2 col-form-label">Support volume</label>
      <div class="row-sm-10">
        <input name="support_volume" type="number" class="form-control"  placeholder="mm3">
      </div>
      <label  class="row-sm-2 col-form-label">Bounding box volume</label>
      <div class="row-sm-10">
        <input name="box_volume" type="number" class="form-control"  placeholder="mm3">
      </div>
      <label  class="row-sm-2 col-form-label">Part surface area</label>
      <div class="row-sm-10">
        <input name="surface_area" type="number" class="form-control"  placeholder="mm2">
      </div>
      <label  class="row-sm-2 col-form-label">Number of parts</label>
      <div class="row-sm-10">
        <input name="num_of_parts" type="number" class="form-control"  placeholder="">
      </div>

      <label  class="row-sm-2 col-form-label">Max build height </label>
      <div class="row-sm-10">
        <input name="max_build_height" type="number" class="form-control"  placeholder="of this build job (mm)">
      </div>
      {# <div class="form-group row">#}
        {# <label  class="row-sm-2 col-form-label">Number of different parts </label>#}
        {# <div class="col-sm-10">#}
          {# <input type="number" class="form-control"  placeholder="">#}
          {# </div>#}
        {# </div>#}
    </div>

    {# Post-processing#}
    <div class="col">
      <div class="form-group row">
      </div>
      <div class="form-group row">
        <div class="col">
          <div class="form-check">
            <input name="wire_cut" class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Wire cutting
            </label>
          </div>
        </div>
      </div>
      <div class="form-group row">

        <div class="col">
          <div class="form-check">
            <input name="heat_treat" class="form-check-input" type="checkbox" id="gridCheck1">
            <label class="form-check-label" for="gridCheck1">
              Heat treatment
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row align-items-center">
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">Add Part</button>
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">Calculate</button>
    </div>
  </div>
</form>

{% endblock content %}